body{background-color: violet;}


.add {
  border-radius: 10%;
  width: 2%;
  height: 30px;
  background-color: rgb(116, 5, 5);
  color: white;
  border: none;

}


.sub {
  border-radius: 10%;
  width: 2%;
  height: 30px;
  background-color: white;
  border: none;

}

.userInput{
  height: 24px;
  width: 60px;
  -moz-appearance: textfield;
}

.App{
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}